<h2>Editar <%= @carrier.corporate_name %></h2>

<main>
    <% if @carrier.errors.any? %>
        <p>Verifique os erros abaixo:</p>
        <ul>
            <% @carrier.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

    <%= render 'form' %>
</main>