<main>
    <h2>Lista de Veículos</h2>

    <div>
        <%= link_to 'Cadastrar Veículo', new_vehicle_path %>
    </div>

    <% @carriers.each do |c| %>
        <h3><strong>Veículos da <%= c.corporate_name %></strong></h3>
        <% @vehicles.each do |v| %>
            <% if v.carrier_id == c.id %>
                <dl>
                    <dt><%= v.vehicle_type %>:<dt>
                    <dd>Placa: <%= link_to v.license_plate, vehicle_path(v.id) %></dd>
                </dl>
            <% end %>
        <% end %>
    <% end %>
</main>