body {
    background-color: rgb(224, 216, 216);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
nav ul li {
    float: left;
    border-bottom: 0.5px solid rgb(122, 122, 122);
}

nav ul li:not(:first-child) {
    margin-left: 5px;
}
  
nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav ul li a:hover {
    background-color: rgb(122, 122, 122);
}

button {
    background: none;
	color: black;
	border: none;
    padding: 14px 16px;
    text-align: center;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:hover {
    background-color: rgb(122, 122, 122);
}